body {
    padding: 0;
    font-family: sans-serif;
}

.text-align-center {
    text-align: center;
} 

.btn-crud td {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 10px;
}